[Project]
ProName="vil_tools"
#数据库系统连接信息
[Mysql]
HostName = "127.0.0.1:3306"
UserName = ""
Password = ""
#所使用的数据库信息
[Mysql.DataBases]
default 	= "vil_user"
vil_busi 	= "vil_busi"
vil_extend 	= "vil_extend"
vil_log 	= "vil_log"
#redis连接信息
[Redis]
HostName = ["127.0.0.1:6379"]
Password = "1"
TimeOut = 10
#日志配置信息
[ViLog]
ProjectName="vil_s"
FilePath="./logs"
FileName="vil_logs.log"
LogLeavel="INFO"
